##

In [1]:
import requests
import json
import pandas as pd

In [18]:
df = pd.read_csv(r'C:\Users\chenhur\Documents\GitHub\Showa_CsxPython\Ntu_DataSet\Ntu_Orders.csv')
df_Ecoup = pd.read_csv(r'C:\Users\chenhur\Documents\GitHub\Showa_CsxPython\Ntu_DataSet\NTU_1317_Ecoupon.txt',delimiter="\t",sep=" ",encoding =  'utf-8')   
df_Mem = pd.read_csv(r'C:\Users\chenhur\Documents\GitHub\Showa_CsxPython\Ntu_DataSet\NTU_1317_Member.txt',delimiter="\t",sep=" ",encoding =  'utf-8')  
df_Prom = pd.read_csv(r'C:\Users\chenhur\Documents\GitHub\Showa_CsxPython\Ntu_DataSet\NTU_1317_Promotion.txt',delimiter="\t",sep=" ",encoding =  'utf-8')  
df_PromOr = pd.read_csv(r'C:\Users\chenhur\Documents\GitHub\Showa_CsxPython\Ntu_DataSet\NTU_1317_PromotionOrders.txt',delimiter="\t",sep=" ",encoding =  'utf-8')

C:\Program Files\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (10,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [52]:
df_Ecoup.ECouponTotalGiftLimit.nunique()

2

In [40]:
df_Ecoup.head(25)

,﻿EcouponId,EcouponTypeDef,EcouponPurposeDef,ECouponStartDateTime,ECouponEndDateTime,ECouponDiscountPrice,ECouponTotalQty,ECouponQtyLimit,ECouponTotalGiftLimit,ECouponValidFlag,ECouponIsAppDrawOut,ECouponIsWebDrawOut,ECouponMaxDiscountLimit
0,1,Gift,Marketing,2014-07-21 08:00:00.000,2014-08-03 23:59:00.000,100.0,150000,0,50,1,1,0,0.3
1,2,Gift,Marketing,2014-08-05 14:00:00.000,2014-08-17 23:59:00.000,100.0,150000,0,50,1,1,0,0.3
2,3,Code,Marketing,2014-08-21 17:00:00.000,2014-08-31 23:30:00.000,100.0,30,0,0,1,1,0,0.3
3,4,Code,Marketing,2014-09-02 16:00:00.000,2014-09-30 23:59:00.000,100.0,1,1500,0,1,1,0,0.3
4,5,Code,Marketing,2014-09-10 20:00:00.000,2014-09-21 23:30:00.000,100.0,1,60,0,1,1,1,0.3
5,6,Code,Marketing,2014-09-23 15:00:00.000,2014-09-24 15:00:00.000,100.0,1,30,0,1,1,1,0.3
6,7,Code,Marketing,2014-09-24 15:00:00.000,2014-09-25 15:00:00.000,100.0,1,30,0,1,1,1,0.3
7,8,Code,Marketing,2014-09-25 15:00:00.000,2014-09-26 15:00:00.000,100.0,1,30,0,1,1,1,0.3
8,9,Code,Marketing,2014-09-26 15:00:00.000,2014-09-27 15:00:00.000,100.0,1,30,0,1,1,1,0.3
9,10,Code,Marketing,2014-09-29 15:00:00.000,2014-09-30 15:00:00.000,100.0,1,30,0,1,1,1,0.3
10,11,Code,Marketing,2014-09-30 15:00:00.000,2014-10-01 15:00:00.000,100.0,1,30,0,1,1,1,0.3
11,12,Code,Marketing,2014-10-01 15:00:00.000,2014-10-02 15:00:00.000,100.0,1,30,0,1,1,1,0.3
12,13,Code,Marketing,2014-10-02 15:00:00.000,2014-10-03 15:00:00.000,100.0,1,150,0,1,1,1,0.3
13,14,Code,Marketing,2014-10-03 15:00:00.000,2014-10-04 15:00:00.000,100.0,1,30,0,1,1,1,0.3
14,15,Code,Marketing,2014-10-01 10:00:00.000,2014-10-31 23:59:00.000,100.0,1,50,0,1,1,1,0.3
15,16,Code,Marketing,2014-10-01 10:00:00.000,2014-10-31 23:59:00.000,500.0,1,20,0,1,1,1,0.3
16,17,Code,Marketing,2014-10-01 10:00:00.000,2014-10-31 23:59:00.000,1000.0,1,5,0,1,1,1,0.3
17,18,Code,Marketing,2014-10-01 10:00:00.000,2014-12-31 23:59:00.000,200.0,1,1,0,1,1,1,0.3
18,19,Code,Marketing,2014-10-04 15:00:00.000,2014-10-05 15:00:00.000,100.0,1,30,0,1,1,1,0.3
19,20,Code,Marketing,2014-10-06 15:00:00.000,2014-10-07 15:00:00.000,100.0,1,30,0,1,1,1,0.3
20,21,Code,Marketing,2014-10-07 15:00:00.000,2014-10-08 15:00:00.000,100.0,1,30,0,1,1,1,0.3
21,22,Code,Marketing,2014-10-08 15:00:00.000,2014-10-09 15:00:00.000,100.0,1,30,0,1,1,1,0.3
22,23,Code,Marketing,2014-10-09 15:00:00.000,2014-10-10 15:00:00.000,100.0,1,30,0,1,1,1,0.3
23,24,Code,Marketing,2014-10-10 15:00:00.000,2014-10-11 15:00:00.000,100.0,1,30,0,1,1,1,0.3
24,25,Code,Marketing,2014-10-10 10:00:00.000,2014-10-13 10:00:00.000,100.0,1,600,0,0,1,1,0.3

In [50]:
df_Prom.DiscountType.nunique()

7

In [45]:
print(df_Prom.shape)
df_Prom.tail(15)

(225, 5)

,﻿PromotionId,PromotionStartDateTime,PromotionEndDateTime,PromotionValidFlag,DiscountType
210,211,2017-12-05 11:11:00.000,2017-12-14 10:59:00.000,1,滿額贈
211,212,2017-12-05 18:10:00.000,2017-12-12 10:59:00.000,1,任選優惠價
212,213,2017-12-12 11:00:00.000,2017-12-19 10:59:00.000,1,滿額打折
213,214,2017-12-12 11:00:00.000,2018-01-02 10:59:00.000,1,滿額贈
214,215,2017-12-14 11:00:00.000,2017-12-22 15:59:00.000,1,滿額贈
215,216,2017-12-19 11:00:00.000,2018-01-31 10:59:00.000,1,任選優惠價
216,217,2017-12-19 11:00:00.000,2018-01-31 10:59:00.000,1,任選優惠價
217,218,2017-12-19 11:00:00.000,2018-01-31 10:59:00.000,1,任選優惠價
218,219,2017-12-19 11:00:00.000,2018-01-31 10:59:00.000,1,任選優惠價
219,220,2017-12-19 11:00:00.000,2018-01-31 10:59:00.000,1,任選優惠價
220,221,2017-12-19 11:00:00.000,2018-01-31 10:59:00.000,1,任選優惠價
221,222,2017-12-25 11:00:00.000,2018-01-02 10:59:00.000,1,滿件打折
222,223,2018-01-02 11:00:00.000,2018-01-03 15:00:00.000,1,滿件打折
223,224,2018-01-03 15:05:00.000,2018-01-08 11:29:00.000,1,滿件打折
224,225,2018-01-08 11:30:00.000,2018-01-17 10:59:00.000,1,滿件打折

In [48]:
df_PromOr.SalesOrderSlavePromotionDiscountAllocatedQty.nunique()

1

In [46]:
print(df_PromOr.shape)
df_PromOr.tail(23)a

(3397366, 7)

,﻿PromotionId,SalesOrderSlaveId,SalesOrderSlavePromotionDiscount,SalesOrderSlavePromotionDiscountRate,SalesOrderSlavePromotionDiscountAllocated,SalesOrderSlavePromotionDiscountAllocatedQty,SalesOrderSlavePromotionValidFlag
3397343,224,51196295,0.0,0.85,-39.0,1,1
3397344,224,51196296,0.0,0.85,-37.0,1,1
3397345,224,51196297,0.0,0.85,-37.0,1,1
3397346,224,51196298,0.0,0.85,-47.0,1,1
3397347,224,51196299,0.0,0.85,-80.0,1,1
3397348,224,51196300,0.0,0.85,-44.0,1,1
3397349,224,51196411,0.0,0.85,-30.0,1,1
3397350,224,51196412,0.0,0.85,-30.0,1,1
3397351,224,51196415,0.0,0.85,-31.0,1,1
3397352,224,51196416,0.0,0.85,-185.0,1,1
3397353,224,51196522,0.0,0.85,-30.0,1,1
3397354,224,51196523,0.0,0.85,-30.0,1,1
3397355,224,51196639,0.0,0.85,-54.0,1,1
3397356,224,51196640,0.0,0.85,-59.0,1,1
3397357,219,51196729,250.0,0.00,-125.0,2,1
3397358,166,51196729,0.0,0.90,-49.0,2,1
3397359,219,51196730,250.0,0.00,-74.0,1,1
3397360,166,51196730,0.0,0.90,-10.0,1,1
3397361,166,51196731,0.0,0.90,-66.0,1,1
3397362,166,51196732,0.0,0.90,-66.0,1,1
3397363,166,51196733,0.0,0.90,-66.0,1,1
3397364,224,51196795,0.0,0.85,-31.0,1,1
3397365,224,51196796,0.0,0.85,-59.0,1,1

In [ ]:
df_Mem.head(5)