In [2]:
import pandas as pd

Load 91APP DATASETs

In [3]:
order = pd.read_csv(r'C:\Users\chenhur\Documents\GitHub\Showa_CsxPython\Ntu_DataSet\Ntu_Orders.csv')
ecoupon =pd.read_csv(r'C:\Users\chenhur\Documents\GitHub\Showa_CsxPython\Ntu_DataSet\NTU_1317_Ecoupon.txt',sep='\t') 
member = pd.read_csv(r'C:\Users\chenhur\Documents\GitHub\Showa_CsxPython\Ntu_DataSet\NTU_1317_Member.txt',sep='\t',low_memory=False) 
promotion =  pd.read_csv(r'C:\Users\chenhur\Documents\GitHub\Showa_CsxPython\Ntu_DataSet\NTU_1317_Promotion.txt',sep='\t')  
promotionorders =pd.read_csv(r'C:\Users\chenhur\Documents\GitHub\Showa_CsxPython\Ntu_DataSet\NTU_1317_PromotionOrders.txt',sep='\t',low_memory=False)

In [ ]:
order = pd.to_csv("Orders.csv", index = False, encoding="utf-8")
ecoupon =pd.to_csv("1317_Ecoupon.csv", index = False, encoding="utf-8")
member = pd.to_csv("1317_Member.csv", index = False, encoding="utf-8") 
promotion =  pd.to_csv("1317_Promotione.csv", index = False, encoding="utf-8") 
promotionorders =pd.to_csv("1317_PromotionOrders.csv", index = False, encoding="utf-8")

#(['ÔªøPromotionId', 'SalesOrderSlaveId', 'SalesOrderSlavePromotionDiscount']
#ÊääÊØè‰∏ÄÂÄãdata frame ÈÉΩÂÅö‰∏ÄÊ¨°renameÊòØÁÇ∫‰∫ÜË¶ÅÂéªÈô§‰∏äÈù¢ÈÇ£‰∏ÄÂÄãÁ¥ÖÈªû
#ÈÇ£‰∏ÄÂÄãÁ¥ÖÈªûË¢´Á®±ÁÇ∫BOMÊòØÊñá‰ª∂Á∑®Á¢ºÁî®‰æÜÂëäÁü•Á≥ªÁµ±Á∑®Á¢ºÁöÑÁ®ÆÈ°û

s = "Ôªø"
ecoupon['\ufeffEcouponId']

In [4]:
order = order.rename(columns=lambda x: x.replace('\ufeff', ''))
ecoupon = ecoupon.rename(columns=lambda x: x.replace('\ufeff', ''))
member = member.rename(columns=lambda x: x.replace('\ufeff', ''))
promotion = promotion.rename(columns=lambda x: x.replace('\ufeff', ''))
promotionorders = promotionorders.rename(columns=lambda x: x.replace('\ufeff', ''))

In [4]:
order.head(1)

,SalesOrderSlaveId,DateId,MemberId,TradesOrderSlaveId,ShopId,SalePageId,TradesOrderGroupCode,TrackSourceTypeDef,TrackChannelTypeDef,TrackDeviceTypeDef,...,UnitPrice,PromotionDiscount,EcouponDiscount,SalesOrderSlaveTotalPayment,SalesOrderSlaveDateTime,SalesOrderSlaveStatusDef,PayProfileTypeDef,ShippingProfileTypeDef,EcouponId,IsSalePageGift
0,26914456,20170103,48D5DE26-236E-4854-8474-B0DCEAFF4F42,26971960,1317,9804,b'q\x14\xa49\xaa\\\xecs\xff6wH\xfbXd\x93\xfbf\...,Web,Brand,Mobile,...,399.0,-25.0,0.0,374.0,2017-01-03 23:11:47.207,Finish,SevenEleven,SevenEleven,NaN,False

In [4]:
member.head(3)

,ÔªøShopId,MemberId,Recency,Frequency,Monetary,Birthday,GenderTypeDef,LocationCity,LocationState,LocationCountry,...,AnnualIncomeTypeDef,RegisterDateTime,RegisterSourceTypeDef,ValidFlag,MinOrderDate,MaxOrderDate,IsAppInstalled,IsInBlackList,MinAppOpenDateTime,MaxAppOpenDateTime
0,1317,88812F54-9F19-49C0-BC77-86065C356D26,251,3,4011.0,1980-08-08,Female,NaN,Âè∞‰∏≠Â∏Ç,Âè∞ÁÅ£,...,NaN,2015-09-18 19:18:48.050,iOSApp,1,2015-09-18,2017-05-02,Êúâ,NaN,2015-09-18 18:45:35.707,2017-07-30 21:30:34.940
1,1317,AB3232A1-03C6-4425-8062-EEECB633FB5A,-1,0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2016-03-13 01:11:05.403,Web,1,1900-01-01,NaN,NaN,NaN,NaN,NaN
2,1317,CC63B70D-CD6D-4538-BDDE-4B293F95A654,659,1,529.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2016-03-20 02:20:35.493,Web,1,2016-03-20,2016-03-20,NaN,NaN,NaN,NaN

In [5]:
promotion.head(3)

,ÔªøPromotionId,PromotionStartDateTime,PromotionEndDateTime,PromotionValidFlag,DiscountType
0,1,2015-05-06 09:00:00.000,2015-05-29 11:00:00.000,0,NaN
1,2,2015-05-21 18:00:00.000,2015-05-21 19:00:00.000,0,NaN
2,3,2015-06-02 16:00:00.000,2015-07-10 13:00:00.000,1,‰ªªÈÅ∏ÂÑ™ÊÉ†ÂÉπ

In [22]:
promotionorders.head(3)

,PromotionId,SalesOrderSlaveId,SalesOrderSlavePromotionDiscount,SalesOrderSlavePromotionDiscountRate,SalesOrderSlavePromotionDiscountAllocated,SalesOrderSlavePromotionDiscountAllocatedQty,SalesOrderSlavePromotionValidFlag
0,205,48421018,0.0,0.0,0.0,1,1
1,205,48421119,0.0,0.0,0.0,1,1
2,205,48421121,0.0,0.0,0.0,1,1

In [23]:
ecoupon.head(3)

,EcouponId,EcouponTypeDef,EcouponPurposeDef,ECouponStartDateTime,ECouponEndDateTime,ECouponDiscountPrice,ECouponTotalQty,ECouponQtyLimit,ECouponTotalGiftLimit,ECouponValidFlag,ECouponIsAppDrawOut,ECouponIsWebDrawOut,ECouponMaxDiscountLimit
0,1,Gift,Marketing,2014-07-21 08:00:00.000,2014-08-03 23:59:00.000,100.0,150000,0,50,1,1,0,0.3
1,2,Gift,Marketing,2014-08-05 14:00:00.000,2014-08-17 23:59:00.000,100.0,150000,0,50,1,1,0,0.3
2,3,Code,Marketing,2014-08-21 17:00:00.000,2014-08-31 23:30:00.000,100.0,30,0,0,1,1,0,0.3

In [ ]:
#  ecoupon['\ufeff EcouponId']

In [ ]:
om = pd.merge(order, member, on = 'MemberId', how = 'left')
ome = pd.merge(om, ecoupon, on = 'EcouponId', how = 'left')
del om
ome_po = pd.merge(ome, promotionorders, on = 'SalesOrderSlaveId', how = 'left')
del ome
df = pd.merge(ome_po, promotion, on = 'PromotionId', how = 'left') 
del ome_po
del promotionorders

In [ ]:
print('a')

In [6]:
df['new_DateId'] = pd.to_datetime(df['DateId'].astype(str), format='%Y%m%d')
df['new_DateId'].head()

0   2017-01-03
1   2017-01-03
2   2017-01-01
3   2017-01-01
4   2017-01-01
Name: new_DateId, dtype: datetime64[ns]

#movies_comments.to_csv("data/movies_comments_crawled.csv", index = False, encoding="utf-8")
df.to_csv("new_dataframe.csv", index = False, encoding="utf-8")

df.to_csv("new_dataframe_NOT_utf_8.csv", index = False)

ËÆÄË≥áÊñô

In [ ]:
df = pd.read_csv('new_dataframe.csv',low_memory=False)

In [6]:
# ÂæûÊúÉÂì°Ë≥áÊñôÁï∂‰∏≠ÊâæÂá∫ RFM 
member.loc[:,['Recency','Frequency','Monetary']]

        Recency  Frequency  Monetary
0           251          3    4011.0
1            -1          0       0.0
2           659          1     529.0
3            56          3    2438.0
4           717          1     550.0
5            13          3    2651.0
6            -1          0       0.0
7            -1          0       0.0
8           190          1    1174.0
9            -1          0       0.0
10           -1          0       0.0
11          165          2    2508.0
12           36          9   13489.0
13           -1          0       0.0
14           -1          0       0.0
15          481          1     693.0
16          588          1     747.0
17           -1          0       0.0
18          359          1    2108.0
19          649          1     948.0
20           -1          0       0.0
21          273          2    2774.0
22          467          1     783.0
23           -1          0       0.0
24           -1          0       0.0
25          180          1    1230.0
26           59          1     730.0
27           -1          0       0.0
28           -1          0       0.0
29           93          3     752.0
...         ...        ...       ...
815762      824          2    1724.0
815763      887          1     849.0
815764      131          4    1169.0
815765      257          1     859.0
815766      206          1    1083.0
815767       -1          0       0.0
815768       -1          0       0.0
815769       -1          0       0.0
815770       -1          0       0.0
815771       10          2    2545.0
815772      787          1    1013.0
815773      268          1     199.0
815774       -1          0       0.0
815775       -1          0       0.0
815776      371          1    1038.0
815777      374          2    3224.0
815778       -1          0       0.0
815779       -1          0       0.0
815780      613          1    1443.0
815781       -1          0       0.0
815782       -1          0       0.0
815783       -1          0       0.0
815784      217          3    3243.0
815785       -1          0       0.0
815786      599          2    1115.0
815787      292          1    1166.0
815788       -1          0       0.0
815789       -1          0       0.0
815790       -1          0       0.0
815791       -1          0       0.0

[815792 rows x 3 columns]

df = df.loc[df['LocationCountry'].isin(['TW', 'Âè∞Âåó', 'Âè∞Êàë', 'tiwan', 'Ëä±ËìÆÁ∏£', 'Âè∞ÁÅ£Âú∞ÂçÄ', 'Ô∏èTaiwan', 'Taipei', '‰∏≠ËèØÊ∞ëÂúãËá∫ÁÅ£', '‰∏≠ËèØÊ∞ëÂúãÂè∞ÁÅ£', 'Taiwan ', 't', 'Tw', 'Taiean', 'Âè∞ÁÅ£Âè∞ÂçóÂ∏Ç',  'Ëá∫ÁÅ£ ', 'Â§™Êôö', 'Èõ≤ÊûóÁ∏£', 'üáπüáº', 'Âè∞ÁÅ£‰∫∫', 'Taiwam', 'tw', 'Taiwan', 'T', 'Ëá∫Âåó', 'Ê°ÉÂúí', ' Âè∞ÁÅ£', 'Âè∞ÁÅ£',  '.Ëá∫ÁÅ£', 'TAIWAN',  'Tawian', 'Taiwain', 'ROC', '‰∏≠ËèØÊ∞ëÂúã', 'taiwan', 'taiwan ', 'Âè∞ÁÅ£ÁúÅ', 'Ëá∫ÁÅ£', 'Âè∞Á¢ó', 'ÊæéÊπñÁ∏£', 'Âè∞ÁÅ£Âêß', 'Êñ∞ÂåóÂ∏Ç', 'Ëá∫ÁÅ£ÁúÅ', '‰∏≠ËèØÊ∞ëÂúã Ëá∫ÁÅ£', 'Âè∞Êπæ', 'Âè∞ÂΩé']),:]

In [8]:
member['LocationCountry'].unique()

array(['Âè∞ÁÅ£', nan, 'Ëá∫ÁÅ£', 'Âç∞Â∞º', 'Taiwan', 'Taiwan ', 'Ëá∫ÁÅ£ÁúÅ', 'taiwan', '‰∏≠ËèØÊ∞ëÂúã',
       'ÈáëÈñÄÁ∏£', '‰∏≠Âúã', 'Âè∞Êπæ', 'Âè∞ÁÅ£ÁúÅ', 'Australia', 'Âè∞ÁÅ£‰∫∫', 'taiwan ', 'Âè∞',
       'Hong Kong', 'TW', 'TAIWAN', 'Macau', 'Ê≥∞Âúã', 'Âè∞Á¢ó', 'tiawan', 'Âè∞ÂΩé',
       'tw', '...', 'Tw', 'Ëá∫Âåó', '‰∏≠ËèØÊ∞ëÂúãËá∫ÁÅ£', 'Taiwn', '‰∏≠ËèØÊ∞ëÂúãÂè∞ÁÅ£', '‰∏≠ÂúãÂè∞ÁÅ£', 'p',
       'Taipei', 'Roc', 'ROC', 'ÂúãÂÆ∂', 'Âè∞„Ñ®„Ñ¢', '‰∏≠ÂõΩÂè∞Êπæ', 'Âè∞ÁÅ£Âú∞ÂçÄ', 'taiwa',
       '30064', 'the', '235', ' Âè∞ÁÅ£', 'Âè∞ÁÅ£ÈÉ®', 'Âè∞ÁÅ£Âêß', 'Ë∂äÂçó', 'Korea ', '‰ΩÜ',
       'ÈüìÂúã', 'ÁÅ£', 'Â§™Êôö', 'Âè∞ÁÅ£Âè∞ÂçóÂ∏Ç', 'Âè∞Áé©', 'Taiwai', 'Êñ∞ÂåóÂ∏Ç', 'Âè∞ÁÅ£Âè∞Âçó', 'T', 'roc',
       'Taiwen', '   Âè∞ÁÅ£', '·µÄ·¥¨·¥µ·µÇ·¥¨·¥∫', 'Taiwain', 'ÁÑ°', 'Ëá∫', 'Âè∞‰∏≠', 'Âè∞Âåó', 'Ê°ÉÂúíÁ∏£',
       'Hong Kong ', 'Âè∞ÁÅ£üáπüáº', 'È¶¨‰æÜË•ø‰∫û', 'tawin', 'Âè∞Âçó', ' ', 'Tawain', 'R.O.C',
       'taipei', 'Âè∞ÁÅ£Âïä', '‰∏≠ËèØÊ∞ëÂúã Ëá∫ÁÅ£', 'hk', 'Taiean', 'TWM', 'üáπüáº', 'taiwai',
       'Êó•Êú¨', 't', 'ÈùûÊ¥≤', 'È´òÈõÑ', 'TAiwan', 'toe', 'Taipei ', 'Âè∞ÁÅ£‰∫å', 'Âè∞ÁÅ£Áîü',
       'twain', 'TWN', 'Ê°ÉÂúí', 'tiwan', 'Ëá∫ÁÅ£ ', '‰∏≠ËèØÊ∞ëÂúã/Ëá∫ÁÅ£', '.Ëá∫ÁÅ£', 'TW.', '‰∏≠ÂõΩ',
       'Taiwam', 'a', 'twaiwan', 'Âè∞ÂåóÂ∏Ç', 'Ô∏èTaiwan', 'TAIWNA', 'Ëá∫ÁÅ£Taiwan',
       'TAIWAB', '‰∫ûÊ¥≤', 'Tiwan', 'tw ', 'Èõ≤ÊûóÁ∏£', '  Âè∞ÁÅ£', 'Taiwaan', 'h',
       'Âè∞ÁÅ£ ', 'TAIWAN ', 'Ëä±ËìÆÁ∏£', 'Âè∞Ë™ûÁÅ£', 'ÊæéÊπñÁ∏£', 'Âè∞ÁÅ£Âè∞Âåó', 'Âè∞Ëá∫ÁÅ£', 'i', 'È¶ôÊ∏Ø',
       'TWD', 'Âè∞ÁÅ£ÂÖí', 'Singapore ', 'Âè∞Êàë', 'R.O.C.', 'Âü∫ÈöÜ', 'Tawian', 'ÔºåÂè∞ÁÅ£',
       'Ëä±ËìÆ', '35842', 'Âè∞ÁÅ£ÂòâÁæ©', 'Tawain ', 'Âè∞ÁÅ£‰∫∫Ê∞ë'], dtype=object)

In [19]:
member['Frequency'].unique()

array([ 3,  0,  1,  2,  9,  5,  6,  4,  8,  7, 15, 10, 12, 14, 13, 21, 11,
       17, 18, 16, 28, 25, 19, 20, 96, 30, 33, 26, 27, 24, 39, 23, 22, 32,
       35, 29, 55, 38, 46, 37, 47, 44, 56, 45, 31, 36, 34, 59, 48, 42, 51,
       49, 67, 41, 40, 50, 61, 58, 76, 57, 54, 86, 52, 43, 53, 79, 81, 85,
       71, 60], dtype=int64)

In [8]:
rfmTable = df.loc[:,['MemberId','Recency','Frequency','Monetary']]

## ÊäìÂá∫'MemberId','Recency','Frequency','Monetary'   ÈÄôÂõõÂÄãË≥áÊñô

In [9]:
rfmTable.head()

                               MemberId  Recency  Frequency  Monetary
0  48D5DE26-236E-4854-8474-B0DCEAFF4F42    235.0        4.0    7455.0
1  48D5DE26-236E-4854-8474-B0DCEAFF4F42    235.0        4.0    7455.0
2  C8B989DB-05F9-42D3-BD4F-E203482C5E58    178.0        2.0    4553.0
8  6B11D879-C56E-4057-A6A0-45C30732F542    282.0        3.0    2281.0
9  249FEB46-134C-4DE3-902D-73D289D130DB      4.0        7.0    6743.0

# ÂÅöÂõõÂàÜ‰ΩçË∑ù

In [10]:
quantiles = rfmTable.quantile(q=[0.20,0.40,0.60,0.80])
quantiles

     Recency  Frequency  Monetary
0.2     20.0        2.0    2029.0
0.4     48.0        3.0    3948.0
0.6     82.0        5.0    6807.0
0.8    198.0        9.0   12544.0

In [11]:
quantiles = quantiles.to_dict()
quantiles

{'Frequency': {0.20000000000000001: 2.0,
  0.40000000000000002: 3.0,
  0.59999999999999998: 5.0,
  0.80000000000000004: 9.0},
 'Monetary': {0.20000000000000001: 2029.0,
  0.40000000000000002: 3948.0,
  0.59999999999999998: 6807.0,
  0.80000000000000004: 12544.0},
 'Recency': {0.20000000000000001: 20.0,
  0.40000000000000002: 48.0,
  0.59999999999999998: 82.0,
  0.80000000000000004: 198.0}}

In [12]:
rfm = rfmTable

# x ÊòØÂºïÂÖ•Ë¶ÅÊØîËºÉÁöÑÊï∏ÂÄº
# p ÊòØÈÅûËø¥ÂÄº
# d ÊòØÂÖàË®≠Â•ΩÁöÑquantilesÂ≠óÂÖ∏

In [13]:
def RClass(x,p,d):
    if x <= d[p][0.20]:
        return 1
    elif x <= d[p][0.40]:
        return 2
    elif x <= d[p][0.60]: 
        return 3
    elif x <= d[p][0.80]: 
        return 4
    else:
        return 5
    
def FMClass(x,p,d):
    if x <= d[p][0.20]:
        return 5
    elif x <= d[p][0.40]:
        return 4
    elif x <= d[p][0.60]:
        return 3
    elif x <= d[p][0.80]: 
        return 2
    else:
        return 1

# x ÊòØÂºïÂÖ•Ë¶ÅÊØîËºÉÁöÑÊï∏ÂÄº
# p ÊòØÈÅûËø¥ÂÄº
# d ÊòØÂÖàË®≠Â•ΩÁöÑquantilesÂ≠óÂÖ∏

In [ ]:
###### rfm.apply()
rfm['R_Quartile'] = rfm['Recency'].apply(RClass, args=('Recency',quantiles,))
rfm['F_Quartile'] = rfm['Frequency'].apply(FMClass, args=('Frequency',quantiles,))
rfm['M_Quartile'] = rfm['Monetary'].apply(FMClass, args=('Monetary',quantiles,))

In [15]:
rfm['RFMClass'] = rfm.R_Quartile.map(str) \
                            + rfm.F_Quartile.map(str) \
                            + rfm.M_Quartile.map(str)

In [ ]:
rfm.head()

In [ ]:
rfm[rfm['RFMClass']=='111'].sort_values('Monetary', ascending=False)

In [ ]:
rfm[rfm['RFMClass']=='011'].sort_values('Monetary', ascending=False)

In [ ]:
def classifier(row):
    if row['RFMClass']=='555':
        return 'ÈáçË¶ÅÂÉπÂÄºÂÆ¢Êà∂'
    elif row['RFMClass']=='155':
        return 'ÈáçË¶ÅÂñöÂõûÂÆ¢Êà∂'
    elif row['RFMClass']=='515':
        return 'ÈáçË¶ÅÊ∑±ËÄïÂÆ¢Êà∂'
    elif row['RFMClass']=='115':
        return 'ÈáçË¶ÅÊåΩÁïôÂÆ¢Êà∂'
    elif row['RFMClass']=='511':
        return 'Êñ∞ÂÆ¢Êà∂'
    elif row['RFMClass']=='111':
        return 'ÊµÅÂ§±ÂÆ¢Êà∂'
    else:
        return 'other'

In [ ]:
rfm['newclass'] = rfm.apply(classifier, axis=1)

In [ ]:
set(rfm['newclass'])

In [ ]:

print(rfm.loc[rfm['newclass']!='other',['MemberId', 'newclass']])